* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(180, 180, 180);
}

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.equipments {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.equipment-1,
.equipment-2 {
    margin: 10px;
    padding: 10px;
}

.equipment-1 p,
.equipment-2 p {
    padding: 10px;
}
